div {
    height:200px ;
    width: 200px;
   
}
.aba {
    background-color:cadetblue;
     width: 200px;
     height: 200px;
    padding:30px ;
    border: 10px solid black;
    margin-left: 0px;
}
.nan {

    background-color:gold;
   border-top-width: 20px;
   border-bottom-width: 20px;
   border-left-width:10px ;
   border-right-width: 10px ;
   padding:20px ;
   margin-left:280px ;
   border-color:black ;
   border-style: solid;
}
.haf {
    background-color:indianred;
    padding:10px ;
    border-width: 10px;
    margin-left: 40px ; 
    border-color:black ;
    border-style: solid;
}